In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_diabetes
from sklearn.model_selection import KFold, cross_val_score, GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor

In [2]:
data = load_diabetes()

In [3]:
df = pd.DataFrame(data.data, columns = data.feature_names)
df['target'] = data.target

In [4]:
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0

In [5]:
X=df.drop(columns=['target'])
X

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064

In [6]:
Y = df['target']
Y

0      151.0
1       75.0
2      141.0
3      206.0
4      135.0
       ...
437    178.0
438    104.0
439    132.0
440    220.0
441     57.0
Name: target, Length: 442, dtype: float64

##### initializing K-fold Cross Vlidation

In [7]:
kf = KFold(n_splits=5, shuffle=True, random_state=42)
kf

KFold(n_splits=5, random_state=42, shuffle=True)

##### Linear Regression Model

In [8]:
lr_model = LinearRegression()

In [9]:
# performing cross validation

cv_scores = cross_val_score(lr_model, X,Y,cv=kf, scoring='neg_mean_squared_error')

cv_scores

array([-2900.19362849, -2662.63760862, -3312.30588884, -2797.88355256,
       -3403.88779293])

In [10]:
# calculating avg/mean of the cv_scores

mean_mse = -np.mean(cv_scores)

mean_mse

3015.381694287272

In [11]:
# calculating standard deviation

std_mse = np.std(cv_scores)

std_mse

291.23979402678157

##### Hyperparameter Tuning with Decision Tree

In [12]:
param_grid = {
    'max_depth':[None,3,5,10],
    'min_samples_split':[2,5,10],
    'min_samples_leaf': [1,2,4],
    'max_features': [None, 'sqrt', 'log2']
}

In [13]:
dt = DecisionTreeRegressor(random_state=42)

In [14]:
grid_search_dt = GridSearchCV(dt, param_grid, cv=kf,scoring = 'neg_mean_squared_error', n_jobs=-1)

In [17]:
grid_search_dt.fit(X,Y)

# stroing best parameters and mse
best_param_dt = grid_search_dt.best_params_
best_mse_dt = -grid_search_dt.best_score_

In [18]:
print("Best hyperparameters of Decision Tree: ")
print(best_param_dt)
print(f"Decision tree- best mean squared error :{best_mse_dt:.2f}")

Best hyperparameters of Decision Tree:
{'max_depth': 3, 'max_features': None, 'min_samples_leaf': 4, 'min_samples_split': 2}
Decision tree- best mean squared error :3798.89